//Main colors
$primary-color: #4863A0;
$primary-color-light: #8EA9E6;
$primary-color-dark:#16316E;
$color-notification-green: #52D017;
$color-notification-orange: #FF862B;

//Greys
$light-grey: #FEFEFE;
$grey: #EEEEEE;
$dark-grey: #B8B8B8;

//text color
$primary-text: #4E4E4E;
$primary-text-light: #949494;

// FONTS
$stack-nunito: 'Nunito', sans-serif;
