.main-container {
  padding-top: 65px;
  padding-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: $light-grey;
  @media screen and (min-width:  768px){
    padding-left: 65px;
    padding-top: 65px;
    padding-bottom: 25px;
    max-width: 1200px;
  }
}

.one-col,
.two-col{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  //outline: 0.5px solid $grey; //Add border line
  width: 100%;
}

.title,
.title2 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 100%;
  display: flex;
  align-items: center;
}

.alert {
  padding: 0px;
  border-radius: 5px;
  width: 100%;
  background-color: $color-notification-orange;
  font-size: 12px;
  color: #ffffff;
}

.alert-container {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: 0px 2.5%;
  border-radius: 5px;
  width: auto;
  background-color: $color-notification-orange;
}

@media screen and (min-width:  768px){
  .alert{
    padding: 10px;
  }

  .alert-container {
    background-color: $light-grey;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px;
  }

  .two-col{
    width: 45%;
  }

  .three-col {
    //width: 20%;
  }

  .title{
    width: 15%;
  }
  .title2{
    width: 75%;
    background-color: $grey;
  }
}

//Social media

@media screen and (min-width:  768px){
  .three-col {
    display: flex;
    justify-content: space-between;
  }
}

.card {
  display: flex;
  background-color: $light-grey;
  border-radius: 5px;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  border: 0.5px solid $primary-color-light;
  @media screen and (min-width:  768px){
    width: 25%;
    flex-direction: row;
  }
}
